<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bishugui.project.mapper.personnel.RewardsPunishRecordMapper">

    <select id="getAll" resultMap="RecordInfo">
        select r.*,e.department_id,e.name,e.sex,d.title
        from rewards_punish_record r
        left outer join employees e on r.employee_id = e.employee_id
        left outer join department d on e.department_id = d.department_id
        <where>
            <if test="employeeId != null">
                r.employee_id = #{employeeId}
            </if>
            <if test="id != null">
                and r.rwr_id = #{id}
            </if>
        </where>
        ORDER BY r.apply_date desc
    </select>
    <resultMap id="RecordInfo" type="RewardsPunishRecord">
        <id property="rwrId" column="rwr_id" javaType="Integer" />
        <result property="employeeId" column="employee_id" javaType="Integer" />
        <result property="type" column="type" />
        <result property="category" column="category" />
        <result property="amount" column="amount" />
        <result property="way" column="way" />
        <result property="cause" column="cause" />
        <result property="note" column="note" />
        <result property="applyDate" column="apply_date" />
        <result property="applyId" column="apply_id" />
        <result property="applyState" column="apply_state" />
        <result property="updateId" column="update_id" />
        <result property="updateDate" column="update_date" />
        <association property="employees" javaType="Employees">
            <result property="departmentId" column="department_id" javaType="Integer" />
            <result property="name" column="name" javaType="String" />
            <result property="sex" column="sex" javaType="String" />
        </association>
        <association property="employees.department" javaType="Department">
            <result property="title" column="title" javaType="String" />
        </association>
    </resultMap>
</mapper>
