<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bishugui.project.mapper.sales.SalesItemMapper">


    <update id="updateForDelivery" parameterType="list">
        update sales_item
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="delivery_num = case item_id " suffix="end,">
                <foreach item="item" index="index" collection="list">
                    when #{item.itemId} then #{item.deliveryNum}
                </foreach>
            </trim>
        </trim>
        where item_id in
        <foreach open="(" close=")" separator="," collection="list" item="item">
            #{item.itemId}
        </foreach>
    </update>
</mapper>
